<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>page</title>
  <link rel="stylesheet" href="/main.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>


<body class="container">

<h2> Name: <%= @student["name"] %></h2>
<h2> Age: <%= @student["age"]  %></h2>
<h2> Spirit Animal: <%= @student["spirit_animal"] %></h2>
<h2> Squad Number: <%= @student["squad_id"] %></h2>


  <hr>
  <a href="/students"> Return To Student List </a>
  <hr> 
  <a href="/squads"> Return To Squads</a> 
</body>
</html>