<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>page</title>
  <link rel="stylesheet" href="/main.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>


<body class="container studentback">

<h2 class="title"> Name: <%= @student["name"] %></h2>
<h2 class="title"> Age: <%= @student["age"]  %></h2>
<h2 class="title"> Spirit Animal: <%= @student["spirit_animal"] %></h2>
<h2 class="title"> Squad Number: <%= @student["squad_id"] %></h2>


  <hr>
  <a href="/students"><div class="addbutton"> Return To Student List </div></a>
  <hr> 
  <a href="/squads"><div class="addbutton">Return To Squads</div></a> 
</body>
</html>